<%=f.input :name, label: "Назва моделі"%>
<%=f.input :a, label: "A"%>
<%=f.input :b, label: "B"%>
<%=f.input :t, label: "T"%>
<%=f.input :p, label: "P"%>
<div class="m-4">
  <%=f.simple_fields_for :questions do |q|%>
  <%= render "question_fields", f:q%>
<%end%>
   <%= link_to_add_fields 'Додати запитання', f, :questions %>
</div>
