<h4 align="center" style="margin: 0 20%;">
На 2-3 кроках здійснюємо фазифікацію вхідних даних та фазифікацію «бажаних значень» за формулами (2.2.1) та (2.2.3) відповідно. Результат обчислень запишемо у таблицю:
</h4>
<br>
<table class="table">
<thead>
  <tr>
    <% @model_for_third_step.first.each do |k,_v| %>
      <th scope="col"><%=k%></th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% @model_for_third_step.each do |item| %>
    <tr>
      <% item.each do |_k,v| %>
        <td><%= v %></td>
      <% end %>
    </tr>

  <% end %>
</tbody>
</table>
<br>
<h4 align="center" style="margin: 0 20%;">
На 4 кроці поляризуємо вхідних дані та «бажані значення» ОПР за формулою (2.2.4): z11=1-0.811-0.1070.811-0.107;0.988-0.811 =1-0.7040.704;0.178 =0. Всі результати обчислень, представимо у вигляді матриці
</h4>
<br>
Z =
<% @z.each do |x| %>
<%= x %>
<br/>
<% end %>
<br>
<h4 align="center" style="margin: 0 20%;">
  На 5 кроці проводимо нормування вагових коефіцієнтів за формулою (2.2.5):
</h4>
<br>
<% @w.each_with_index do |w, i| %>
 <p align="center" style="margin: 0 20%;"><%= "w#{i+1} = #{w}" %> </p>
 <% end %>
 <br>
 <h4 align="center" style="margin: 0 20%;">
   На кроці 6 будуємо агреговану оцінку компетенцій експертів за середньо зваженою згорткою, формула (2.2.6):
 </h4>
 <br>
 <% @a.each_with_index do |a, i| %>
  <p align="center" style="margin: 0 20%;"><%= "a#{i+1} = #{a[:"e#{i+1}"]}" %> </p>
  <% end %>
  <br>
  <h4 align="center" style="margin: 0 20%;">
    На 7 кроці будуємо ранжувальний ряд експертів:
  </h4>
  <% @list.map do |index,params|%>
  <p align="center" style="margin: 0 20%;"><%= "e#{index}: (#{params[:e]})" %></p>
  <% end %>
  <br>
  <h4 align="center" style="margin: 0 20%;">
    По отриманим даним робимо висновок: експерт <%= @winer %> набрав максимальну кількість балів <%= @max %>
  </h4>
