<%= form_for :test , url: calculate_test_index_path do |f| %>
  <% @models.each_with_index do |m,m_i| %>
  <hr>
  <%= m.name %>
  <hr>
    <%= m.a %>  < res && res <= <%= (m.a +  m.b ) / 2 %>
    <br>
  <%= (m.a +  m.b ) / 2 %> < res && s < <%= m.b %>
  <br>
    <% m.questions.each_with_index do |q,i| %>
    <br>
    <div class="row inform">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5">
        <p class="lable"><%= q.title %></p>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-7">
        <%= f.select :"model[#{m_i+1}][question[#{i+1}]", options_for_select(q.variants.collect{ |u| [u.value, u.value] }) %>
      </div>
      </div>
    <%end %>
  <%end %>
  <br>
<%= f.submit %>
<% end %>
