<br>
<h4 align="center" style="margin: 0 20%;">
Здійснюємо фазифікацію вхідних даних та фазифікацію «бажаних значень»
</h4>
<br>
<table class="table">
<thead>
  <tr>
    <% @model_for_third_step.first.each do |k,_v| %>
      <th scope="col"><%=k%></th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% @model_for_third_step.each do |item| %>
    <tr>
      <% item.each do |_k,v| %>
        <td><%= v %></td>
      <% end %>
    </tr>

  <% end %>
</tbody>
</table>
<br>
<h4 align="center" style="margin: 0 20%;">
Поляризуємо вхідних дані та «бажані значення» ОПР
</h4>
<br>
Z =
<% @z.each do |x| %>
<%= x %>
<br/>
<% end %>
<br>
<h4 align="center" style="margin: 0 20%;">
  Проводимо нормування вагових коефіцієнтів.
</h4>
<br>
<% @w.each_with_index do |w, i| %>
 <p align="center" style="margin: 0 20%;"><%= "w#{i+1} = #{w}" %> </p>
 <% end %>
 <br>
  <br>
  <h4 align="center" style="margin: 0 20%;">
    Ви набрали <%= @max %>
